<div class="infromini-credit">
  <h2 class="section-head"><%= _("Who is behind this?") %></h2>
  <div class="row">
        <div class="col-lg-3">
                <a href="http://onshor.org/" target="_"><%= image_tag("onshor_logo.png", :alt => "Onshor | Transparency & Accountability", :class => "howBehindThis") %></a>
        </div>
        <div class="col-lg-3">
                <a href="https://www.fsvc.org/" target="_"><%= image_tag("fsvc_logo.png",:alt => "Financial Services Volunteer Corps (FSVC)", :class => "howBehindThis") %></a>
        </div>
        <div class="col-lg-3">
                <a href="http://atcp.org.tn/" target="_"><%= image_tag("atcp_logo.png",:alt => "Association Tunisienne Des Controleurs Publics (ATCP)", :class => "howBehindThis") %></a>
        </div>
        <div class="col-lg-3">
                <a href="#" target="_"><%= image_tag("GoAct.png",:alt => "Go Act for Tunisia", :class => "howBehindThis") %></a>
        </div>
  </div>
</div>

