<% @title = " أسئلة المكلفين بالنفاذ للمعلومة" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

  <dl>

    <dt id="top"> كنت بصدد الإجابة عن مطلب فوجدت هذه الصفحة، لماذا؟ <a href="#top">#</a> </dt>

    <dd><p><%= site_name %> هي منصة يشرف عليها برنامج أنشر. تهدف المنصة بالأساس إلى تسهيل  النفاذ إلى المعلومة عبر تقديم المطاليب عن بعد بإستعمال البريد الإكتروني ومتابعة الأجوبة بسهولة . </p>
      <p> تم ارسال مطلب النفاذ إلى المعلومة الذي تلقيته من قبل مستعمل منصة <%= site_name %>. يمكنك ببساطة الرد على المطلب عبر البريد الإلكتروني علماً أنه سيتم نشر جميع اجوبة الهياكل آلياً من خلال المنصة.
      </p>
      <p> إذا كانت لديك أسئلة حول الخصوصية أو أية مخاوف أخرى، يرجى الإطلاع على المعلومات في قسم <a
        href="<%= help_about_path %>"> تقديم بوابة <%= site_name %></a> كما يمكنك قراءة صفحات المساعدة الأخرى لمعرفة المزيد حول <%= site_name %>. يمكنك أيضا البحث في المنصة عن الهيكل الذي تنتمي إليه والإطلاع على مطالب أخرى.
      <p> وأخيرا، يسرنا تلقي الملاحظات من المكلفين بالنفاذ إلى المعلومة, لذلك <a href="<%= help_contact_path %>"> لا تتردد في الإتصال بنا </a>.
      </p>
    </dd>

    <dt id="responses"> لماذا تقومون بنشر الأجوبة على مطالب النفاذ؟ <a href="#responses">#</a> </dt>

    <dd> نعتقد أن هناك العديد من الفوائد لهذا النشر. فهو يشجع المواطنين على أن يكونو أكثر اهتماما و متابعةً لعمل الإدارة. ونأمل أيضا أن يؤدي ذلك إلى تقليل عدد المطالب المتشابهة التي تتلقاها الهياكل. كما أن الأجوبة على مطالب النفاذ إلى المعلومة تحتوي على معلومات عامة يمكن لأي شخص أن يطلبها من الهيكل، ولذلك فإننا نعتقد أنه ليس هناك أي سبب لعدم نشرها.
    </dd>

    <dt id="realpeople"> هل أن مطالب النفاذ متأتية من أشخاص حقيقين ؟ <a href="#realpeople">#</a> </dt>

    <dd> نعم. لمتابعة الأجوبة، تقوم منصة <%= site_name %> بإنشاء عنوان بريد إلكتروني بصفة آلية لكل مطلب. بالاظافة إلى التحقق من عنوان البريد الإلكتروني لكل مستعمل قبل التسجيل (إحداث حساب). يمكنك أيضاً الإطلاع على جميع المطالب التي قدمها كل مستعمل.
    </dd>

    <dt id="email_only"> عنوان البريد الإلكتروني غير كاف لجعل مطلب النفاذ شرعياً. <a href="#email_only">#</a> </dt>

    <dd> طبقاً للفصل 9 من القانون الأسي للنفاذ إلى المعلومة، يمكن تقديم مطالب النفاذ عن طريق البريد الإلكتروني . ويعترف الفقه القضائي بالبريد الإلكتروني كشكل كتابي صالح لطلب النفاذ إلى المعلومات التي تحتفظ بها الهياكل. </dd>

    <dt id="vexatious"> هل تقومون بإرسال مطالب غير لائقة؟ <a href="#vexatious">#</a> </dt>

    <dd><p> نحن لا نقوم بإرسال أي مطالب. بل نقوم بإرسال مطالب النفاذ نيابة عن مستعملي المنصة، وهم أشخاص حقيقيون . </p>
      <p> مثال: إذا قام العديد من الأشخاص بتقديم مطالب نفاذ باستخدام عناوين بريد إلكتروني (Hotmail)، فلن تتهم شركة ميكروسوفت بتقديم مطالب مزعجة. وهو نفس الشيء مع المطالب المقدمة عبر <%= site_name %>. بالإضافة إلى ذلك، في حالة ورود مطالب غير لائقة، يمكن تحديد المسؤل عن ذلك بسهولة نظرا لأن جميع الطلبات عامة. </p>

    </dd>

    <dt id="spam_problems"> أستطيع أن أرى مطلباً ، ولكن لم أتلق رسالة بالبريد الالكتروني.. <a href="#spam_problems">#</a> </dt>

    <dd><p> إذا ظهر مطلب على الموقع، فهذا يعني أننا حاولنا إرساله إلى الهيكل عبر البريد الإلكتروني. ستظهر جميع رسائل عدم الوصول آلياً على المنصة. يمكنك التحقق من العنوان الذي نستخدمه بالنقر على الرابط "راجع عنوان البريد الإلكتروني لطلب النفاذ" الذي يظهر على صفحة الهيكل. <a
        href="<%= help_contact_path %>"> اتصل بنا </a> إذا كان هناك عنوان أفضل يمكننا استخدامه</p>
      <p> في بعض الأحيان ، لا تصل المطالب نظرًا لأنه يتم حذفها بواسطة "خدمة الرسائل غير المرغوب فيها" (SPAM) الخاصة بإدارة الإعلامية بالهيكل. لتفادي ذلك يمكن للهياكل مطالبة قسم الإعلامية بإدراج نطاق <strong>@<%= AlaveteliConfiguration::incoming_email_domain %></strong> إلى قائمة رسائل البريد الإلكتروني المسموح بها..
        بناء على طلبك <a href="<%= help_contact_path %>"> يمكننا </a> أن نرسل لك المطالب التي تم تقديمها بالفعل و / أو نمنحك التفاصيل الفنية حول مشكلة التسليم حتى يتمكن قسم الإعلامية لديك من حل المشكلة.
      </p>
      <p> وأخيرا، يمكنك الإجابة على أي مطلب من المنصة دون اللجوء للبريد الإلكتروني، وذلك عن طريق استخدام خدمة "الإجابة على المطلب" .
      </p>
    </dd>

    <dt id="days"> كيف يتم تحديد آجال الإجابة على مطالب النفاذ إلى المعلومة؟ <a href="#days">#</a> </dt>

    <dd>

      <p> من الناحية القانونية ، </p>

      <blockquote><p> يجب أن تستجيب الهياكل لمطالب النفاذ إلى المعلومة. <strong>في غضون 20 يوماً</strong> إذا كان الهيكل غير قادر على القيام بذلك خلال الإطار الزمني المحدد ، فمن الأفضل أن يبرر سبب التأخير. </p></blockquote>

      <p> إضافةً إلى ذلك ، تنشر منصة <%= site_name %> المدة الزمنية القانونية القصوى للرد على كل مطلب. <strong>حسب القانون</strong>.</p>

      <p> إذا طلب الهيكل معلومات إضافية ، يجدر بالمستعمل الإشارة إلى الوقت الذي قام فيه بإستكمال المطلب حتى يتم إعادة احتساب الآجال. إذا لاحظت مشكلة في طلب معين ، فأخبرنا حتى نتمكن من إجراء التصحيحات اللازمة. </p>

      <p> يظهر التاريخ المحسوب في أسفل صفحة مطلب النفاذ كالآتي: "في انتظار رد من الهيكل في الوقت الحالي ، يجب أن يستجيب بسرعة و في موعد أقصاه (المدة)" </p>

    </dd>


    <dt id="large_file"> كيف يمكنني إرسال ملف كبير الحجم ، إذا كان من المستحيل إرساله عن طريق البريد الإلكتروني؟ <a href="#large_file">#</a> </dt>

    <dd> بدلاً من الإجابة عبر البريد الإلكتروني ، يمكنك إستعمال المنصة مباشرةً، يمكنك أيضًا إرفاق ملف (شرط أن لا يتجاوز حجمه 50 ميجابيت). للقيام بذلك ، اختر "الإجابة على الطلب". <a href="<%= help_contact_path %>">اتصل بنا</a>
        إذا كان ملفك كبيرًا جدًا (أكثر من 50 ميغابايت).
    </dd>

    <dt id="names"> لماذا يتم نشر أسماء المكلفين بالنفاذ محتوى رسائل البريد الإلكتروني؟ <a href="#names">#</a> </dt>

    <dd> يتم نشر محتوى الرسائل كاملا. هذا وتجدر الإشارة إلى أنه يمكن حذف المحتوى في حالات استثنائية، راجع السؤال <a href="<%= help_privacy_path(:anchor => 'takedown') %>"> هل يمكن حذف معلوماتي الشخصية؟ </a>.
    </dd>

    <dt id="mobiles"> هل تقوم المنصة بنشر عناوين البريد الإلكتروني أو أرقام الهواتف؟ <a href="#mobiles">#</a> </dt>

    <dd><p> لمنع المحتوى غير المرغوب فيه ، نقوم بحذف عناوين البريد الإلكتروني وأرقام الهاتف من الأجوبة. يرجى <a href="<%= help_contact_path %>"> الاتصال بنا </a> إذا تبين عكس ذلك.
        لأسباب فنية ، لا نقوم بحذف عناوين البريد الإلكتروني والهواتف في المرفقات ، على سبيل المثال في ملفات PDF.</p>
    <p>
      <% end %>
    </p>
    </dd>
<dt id="copyright"> ما هي سياسة حقوق الطبع والنشر الخاصة بمنصة <%= site_name %> للوثائق؟ <a href="#copyright">#</a> </dt>

    <dd> حسب قانون النفاذ إلى المعلومة،  يمكن لأي شخص طلب نفس الوثيقة والحصول على نسخة منها.
      إذا كنت تعتقد أن إتاحة هذه الوثيقة على الإنترنت تنتهك حقوق الطبع والنشر ،  فيمكنك <a href="<%= help_contact_path %>"> الاتصال بنا </a> ومطالبتنا بإزالتها.         لتجنب طلبات متعددة للهياكل، و للحفاظ على علاقات جيدة مع المواطنين، فإننا يستحسن تفادي طلب الإزالة.
    </dd>

  </dl>

  <p><strong> اقرأ </strong>, قسم <a href="<%= help_about_path %>"> تقديم منصة إنفورمني </a> --&gt;
    <br><strong>Otherwise</strong>, the <a href="<%= help_credits_path %>">credits</a> or the <a href="<%= help_api_path %>">programmers API</a> --&gt;

    <div id="hash_link_padding"></div>
</div>
