<% @title = _("خصوصيتك") %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="privacy"><%= @title %> <a href="#privacy">#</a></h1>
  <dl>

    <dt id="email_address"> من يمكنه الاطلاع على عنوان بريدي الإلكتروني؟ <a href="#email_address">#</a> </dt>

    <dd><p> لن نكشف عنوان بريدك الإلكتروني لأي شخص ما لم نكن ملزمين قانونيا بذلك، أو بطلب منك. لن تظهر سوى رسالة البريد الإلكتروني
        @<%= AlaveteliConfiguration::incoming_email_domain %> التي تم إنشاؤها خصيصا لطلبك.  </p>
      <p> إذا أرسلت رسالة عبر المنصة إلى مستعمل آخر، فسيظهر عنوان بريدك الإلكتروني و سيتم إعلامك بذلك. </p>
    </dd>

    <dt id="nasty_spam"> هل سأتلقى رسائل غير مرغوب فيها إلى عنوان بريدي الإلكتروني (SPAM) ؟ <a href="#nasty_spam">#</a> </dt>
    <dd>لا. بمجرد التسجيل في <%= site_name %>، لن نرسل إليك سوى رسائل إلكترونية حول مطلب قمت بإرساله، أو تنبيه على البريد الإلكتروني الذي قمت بتفعيله، أو نشاط المنصة أو غيرها من الأنشطة التي قد وافقت عليها مسبقاً. لن نفصح أو عن بريدك الإلكتروني لأطراف ثالثة إلا إذا كنا ملزمين قانونا بذلك، أو إذا كنت قد طلبت ذلك منا.
    </dd>

    <dt id="public_request">  لماذا يظهر اسمي و مطلبي بشكل عام على المنصة؟ <a href="#public_request">#</a> </dt>

    <dd>
      <p> يتم نشر المطالب على شبكة الإنترنت، حتى يتمكن الجميع من قراءتها و استخدام المعلومات التي تلقاها المستعملون من الهياكل (<a href="#delete_requests">more details</a>).
      </p>
      <p>
‎        يعود سبب نشر اسمك علنا إلى ارتباطه بالمطلب الذي قمت به. يساعد استخدام اسمك الحقيقي أيضا الأشخاص في التواصل معك لمساعدتك في البحث. أيضاً، يجب عليك استخدام اسمك الحقيقي ليكون المطلب قانونيا.
      </p>
    </dd>

    <dt id="real_name"> هل يمكنني طلب معلومات تحت اسم مستعار؟ <a href="#real_name">#</a> </dt>


    <dd>
      <p> جب استخدام اسمك الحقيقي لكي يكون مطلبك قانونياً.
        <a href="http://www.onshor.org"></a>.
      </p>

      <p> ومع ذلك، يمكن أن توافق الهياكل على الاستجابة لمطلب مقدم تحت اسم مستعار. </p>

      <p> ولكن كن حذرا، فإن استخدام اسم مستعار يمنعك من التظلم لدى الهياكل المختصة في حالة عدم الإستجابة من الهيكل.
      </p>

      <p> هناك عدة بدائل لاستخدام اسم مستعار. </p>

      <ul>
        <li> استخدم شكلا آخر من اسمك. "أيمن بن أحمدي "يمكن أن يسمى" أيمن أحمدي "،" أ. ب. أحمدي "، أو" أ. أحمدي "، ولكن <strong>ليس</strong> " أيمن "أو" أ ب أ "
        </li>
        <li> يمكن للنساء استخدام اسمهن قبل الزواج. </li>
        <li> يمكن استخدام اسم منظمة، اسم شركة، اسم شركة تجارية، أو اسم جمعية، بعد موافقتهم. </li>
        <li> يمكنك أيضاً الطلب من شخص آخر التقدم بمطلب  عوضاً عنك </li>
       
      </ul>

      <p> في أي حال، لا يمكنك إنتحال صفة أي شخص آخر! </p>

    </dd>

    <dt id="full_address"> يطلب منك الهيكل مده بالعنوان البريديي <a href="#full_address">#</a> </dt>

    <dd>
      <p> طبقاً لمقتضيات الفصل 9 من القانون الأساسي للنفاذ إلى المعلومة، بالإمكان تقديم مطالب النفاذ بإستعمال البريد الإلكتروني، كما يمكن الحصول على نسخة مرقمنة من المعلومات المطلوبة وذلك طبقاً للفصل عدد 12 من نفس القانون. ولذلك ننصح بالتمسك بالحق في الحصول على نسخة من المعلومات عبر البريد الإلكتروني. 
      </p>
      
    </dd>

    <dt id="postal_answer">الهيكل يحتاج إلى عنوانك الشخصي لإرسال إجابة عبر البريد <a href="#postal_answer">#</a> </dt>

    <dd>
      <p> وفقاً للتنصيصات الوجوبية الواردة بالفصلين 10 و 12 بالقانون الأساسي للنفاذ إلى المعلومة، يجب على طالب المعلومة إدراج العنوان البريدي بالمطلب إذا كان شخصاً طبيعياً أو عنوان المقر إذا كان شخصاً معنوياً، ويجب الحرص على أن تكون هذه المعلومات دقيقة. </p>
    </dd>

    <dt id="delete_requests"> هل يمكن حذف مطالبي أو تغيير اسمي؟ <a href="#delete_requests">#</a> </dt>

    <dd>

      <p> <%= site_name %><%= site_name %> هو أرشيف عام دائم للوصول إلى مطالب النفاذ للمعلومة. حتى إذا وجدت أن الإجابة على مطلب لم تعد مفيدة، يمكن أن تكون مهمة للآخرين. ولهذا السبب، لا يتم حذف المطالب.
      </p>

      <p> في حالات استثنائية، يجوز حذف اسمك أو تغييره على المنصة (راجع السؤال الموالي). وتبعاً، قد نقوم أيضا بحذف معلومات شخصية أخرى.   </p>

      <p> إذا كنت قلقا بشأن هذا، راجع قسم الإسم واللقب قبل التقدم بمطلب النفاذ. <a href="#real_name">pseudonyms</a>.</p>

    </dd>

    <dt id="takedown"> هل يمكن حذف معلوماتي الشخصية؟ <a href="#takedown">#</a> </dt>

    <dd>

      <p>إذا رأيت أي معلومات شخصية عنك على المنصة قد تريد منا إزالتها أو إخفائها فيرجى <a href="<%= help_contact_path %>">إخبارنا بذلك</a>.
‎        حدد بالضبط ما هي المعلومات التي تمثل إشكالية، ولماذا، وأين تظهر على المنصة. </p>

      <p>إذا كانت هذه المعلومات الشخصية التي تم نشرها عن طريق الخطأ حساسة،  فسنقوم بحذفها. عادة، ننظر فقط في طلبات حذف المعلومات الشخصية التي تأتي من الشخص المعني، ولكن في حالة ملاحظة معلومات حساسة عن أشخاص آخرين، سنكون ممتنين لأي شخص يتوجه لنا بطلب الحذف. </p>

      <p> ونحن نرى أن هناك مصلحة عامة في حفظ أسماء الموظفين العموميين . ولن نزيل هذه الأسماء إلا في ظروف استثنائية، حيث يكون الكشف عن اسم وموقف شخص ما ضارا بسلامته. إذا كنت واحدا من هؤلاء وكنت ترغب في إزالة اسمك لهذا السبب، يجب أن ترسل لنا طلب إزالة عن طريق صفحتك. ويجب أن يثبت هذا الطلب أن الخطر صارخ وأن هذا الخطر يفوق المصلحة العامة. سيكون عليك أيضا إثبات أن الجهود قد بذلت لإخفاء اسم الشخص المعني في موقع الهيكل. </p>

     
    </dd>


  </dl>

  <p><strong>لمعرفة المزيد</strong> اطلع على <a href="<%= help_officers_path %>">أسئلة المكلفين بالنفاذ للمعلومة</a> --&gt;

    <div id="hash_link_padding"></div>
</div>