<% @title = _("Making requests") %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a></h1>
  <dl>

   ‫<br />‬ <dt id="which_authority"> لا أعرف الهيكل الذي سأوجه له مطلبي؟ <a href="#which_authority">#</a> </dt>

    <dd>
      <p> ليس من السهل أن تعرف الهيكل الذي يمتلك المعلومات التي تحتاج إليها. هاهي بعض الحلول:
      </p>
      <ul>
        <li> تصفح أو ابحث في <%= site_name %> عن مطالب النفاذ المماثلة لمطلبك . </li>
        <li> عندما تجد الهيكل  الذي يمتلك المعلومات التي تحتاج إليها، استخدم زر "الصفحة الرئيسية للهيكل " على الجانب الأيسر من الصفحة لمزيد المعلومات عن الهيكل على موقعه. </li>
        <li> اتصل بالهيكل عن طریق الھاتف أو البرید الإلکتروني لتعرف ما إذا کانت لدیھم المعلومات التي تحتاجھا. </li>
        <li> إذا كنت تواجه أي صعوبةً، يمكنك <a href="<%= help_contact_path %>"> الاتصال بنا </a> لطلب المساعدة. </li>
      </ul>

    </dd>



    <dt id="missing_body"> أريد الحصول على معلومات من هيكل غير موجود بالقائمة. <a href="#missing_body">#</a> </dt>

    <dd>
      <p> يرجى <a href="<%= new_change_request_path %>"> الاتصال بنا </a> ومدنا بإسم الهيكل  أو عنوان البريد الإلكتروني .


   </p>
      <p> مساعدتكم هامة جداً لاستكمال قائمة الهياكل  .
      </p>

    </dd>

    <dt id="authorities"> لماذا تضيفون هياكل لا تخضع لقانون النفاذ للمعلومة؟ <a href="#authorities">#</a> </dt>

    <dd>
     ‫<p>‬ ‫<%= site_name %>‬ يسمح لك بتقديم مطالب ‫لمختلف الهياكل حتى التي لا تخضع لقانون النفاذ إلى المعلومة:‬ </p>

      <ul>
        <li> تلك التي تخضع رسميا لقانون النفاذ للمعلومة وتلك التي توافق طواعية على النشر، لأننا نعتقد أن لديها مسؤولية أخلاقية، وبالتالي التزاما بالشفافية. </li>
        <li> ‫ويهدف هذا الإجراء إلى‬ توسيع نطاق قانون‫ ‬النفاذ للمعلومة. </li>
      </ul>

      <p>وحتى إذا ‫لم يكن الهيكل ملزما‬ قانونا بالاستجابة لمطلب ما، فإنه ‫يستطيع‬ أن ‫يفعل‬ ذلك.

      </p>

    </dd>

    <dt id="focused"> لماذا يجب على ‫المطلب‬ أن يكون دقيقاً؟ <a href="#focused">#</a> </dt>

    <dd>

      <p>
‎        يرجى أن تضع في مطلبك فقط ما هو ضروري بحيث يمكن للهيكل تحديد المعلومات التي تطلبها بسهولة. يجب الحرص على
        <i> عدم </i> تضمين ما يلي:
      </p>

      <ul>
        <li> المعلومات أو الحجج المتعلقة بمشكلة محددة أو شخصية. </li>
        <li> معطياتك الشخصية لأنه سيتم نشر التفاصيل الخاصة بك ومطلبك على ‫<%= site_name %>‬. </li>
‫ <li> المعلومات التي يمكن أن تشوه أو تهين أطراف أخرى. </li>‬
      </ul>

     
      <p>
‎         ‫إذا قمت بذلك، فقد نضطر إلى إلغاء مطلبك لتجنب المشاكل المتعلقة بقوانين الثلب. كلما كانت الرسائل أقصر وأكثر دقة، كلما كانت إجابة الهيكل لك أكثر فعالية وسرعة .‬

‎‫           إذا كنت تستعمل <%= site_name %> لكتابة مدونة أو مقال، الرجاء إضافة رابط المطلب إلى مقالك؟ فهذا سوف يساعد المستعملين الجدد للتعرف على منصة <%= site_name %>.‬
      </p>

    </dd>

    <dt id="fees"> ‫هل يجب دفع معلوم للنفاذ إلى المعلومة؟‬ <a href="#fees">#</a> </dt>

    <dd>

      <p> تقديم مطالب النفاذ للمعلومة مجاني (طلب الوثائق إلكترونيا). </p>

      <p> وفي بعض الحالات، يجوز للهيكل أن يطلب دفع مبلغ لتغطية تكاليف النسخ إذا كانت الوثائق المطلوبة لا يمكن أن ترسل إلا في شكل ورقي ولكن معظم الوثائق يمكن أن تتوفر من قبل الهياكل  عن طريق الوسائل الإلكترونية ببساطة عن طريق الرد على البريد الإلكتروني الذي أرسلته ‫<%= site_name %>‬.
      </p>

    </dd>



    <dt id="quickly_response"> ‫ماهية آجال الإجابة؟‬ <a href="#quickly_response">#</a> </dt>

    <dd>
      <p> وفقا لقانون النفاذ إلى المعلومة، لا يجب أن تتجاوز مدة الإجابة 20 يوما. وخلال هذه الفترة، يجوز للهيكل أن يطلب تمديدا لفترة 10 أيام.
      </p>
      <p> سترسل‫ لك‬ ‫<%= site_name %>‬ رسالة إلكترونية إذا لم تتلق إجابة خلال المهلة القانونية. </p>

    </dd>

    <dt id="no_response"> ماذا ‫إذا‬ لم أتلق ‫إجابة‬؟ <a href="#no_response">#</a> </dt>

    <dd>
      <p> هناك عدة أشياء يمكنك القيام بها إذا لم تتلق إجابة. </p>
      <ul>
        <li> في بعض الأحيان قد تكون هناك مشكلة فنية وقد لا ‫يكون الهيكل‬ قد ‫تلقى المطلب‬ (‫بما أن الإرسال يتم عبر ‬البريد الإلكتروني).
        </li>
        <li> ‫في هاته الحالة من المحتمل‬ أن تكون المشكلة ناجمة عن "‫خدمة‬ الرسائل غير المرغوب فيها"‫ (SPAM)‬. يرجى الرجوع إلى السؤال
          '<a href="<%= help_officers_path(:anchor => 'spam_problems') %>">‫ استطيع أن أرى المطلب على‬ <%= site_name %>, ‫ولكنني لم أتلق ‬أي بريد إلكتروني</a>'
‎          في قسم "‫أسئلة للمكلفين بالنفاذ للمعلومة‬" في ‫صفحة‬ المساعدة .
        </li>
        <li> إذا رفض الهيكل  الرد أو إذا لم يرد خلال المهلة القانونية، فبإمكانك التظلم. لمزيد من المعلومات، ‫يرجى الرجوع إلى‬ صفحة '<a href="<%= help_general_path(:action => 'unhappy') %>">غير راض عن الإجابة التي تلقيتها؟</a>'.‫ </li>‬
      </ul>
    </dd>

    <dt id="not_satifised"> ماذا لو لم أكن راضيا عن الجواب؟ <a href="#not_satifised">#</a> </dt>
    <dd> إذا لم تتلق المعلومات التي طلبتها أو لم تتلقها في الوقت المحدد، ‫يرجى الرجوع إلى‬ '<a href="<%= help_general_path(:action => 'unhappy') %>">غير راض عن الرد الذي تلقيته؟</a>'.
    </dd>

    <dt id="reuse"> طلب مني الهيكل  عدم إعادة استخدام المعلومات التي تلقيتها! <a href="#reuse">#</a> </dt>
    <dd>
      <p> قد تضيف الهياكل  في بعض الأحيان مذكرة قانونية حول "إعادة استخدام الوثائق الإدارية"، وهو ما يعني للوهلة الأولى أنه لا يمكنك إعادة استخدام هذه المعلومات.
      </p>

      <p> يمكنك كتابة مقالات على أساس هذه المعلومات أو تقديم ملخص أو حتى اقتباس أجزاء منها. في ‫<%= site_name %>‬ ندعو إلى الشفافية و‫ نؤمن بحرية نشر المعلومات في مجملها‬. لمزيد المعلومات راجع <a href="<%= help_officers_path(:anchor => 'copyright') %>"> ‫أسئلة للمكلفين بالنفاذ للمعلومة‬ </a>.</p>

    </dd>

    <dt id="data_protection"> هل يمكنني طلب معلومات عن نفسي؟ <a href="#data_protection">#</a> </dt>

    <dd>
      <p> لا يمكن استخدام المنصة لطلب معلومات عنك أو أي شخص آخر خاص. </p>

      <p> إذا كنت ترغب في معرفة المعلومات التي تحتفظ بها الهياكل  عنك، يجب تقديم المطلب مباشرة إلى ‫الهيكل‬ دون المرور عبر ‫منصة‬ ‫<%= site_name %>‬. </p>

      <p> ‫إذا وردت معلومات شخصية عنك‬، ربما عن غير قصد، في أحد ‫المطالب‬، يرجى <a href="<%= help_contact_path %>">الاتصال ‫بنا‬</a>
‎        حتى نتمكن من ‫حذفه‬. وبسبب النشر ‫الالي‬ ‫لأجوبة‬ الهياكل ، فلا يمكن استخدام ‫<%= site_name %>‬ لطلب الوثائق الخاضعة لحقوق التأليف والنشر.</p>
    </dd>


    <dt id="private_requests"> ‫أريد إخفاء المطلب وقتياً‬ (حتى أنشر مقالي)‫.‬ <a href="#private_requests">#</a> </dt>

    <dd><p> تم تصميم‫ <%= site_name %>‬ حاليا فقط للاستفسارات ‫في المجال العام‬. إذا كنت صحافيا وتريد‫ إستثنائيا إخفاء مطلبك لفترة وجيزة‬، يرجى الاتصال بفريقنا للتعاون. يتم نشر‫ ‬جميع ‫الأجوبة‬ التي نتلقاها مباشرةً على ‫المنصة‬ بحيث يتسنى للجميع قراءتها.  </p>
      <p> إذا كنت ترغب في تقديم مطلب غير عام، يجب عليك الاتصال بالهيكل مباشرة.
      </p>
    </dd>

    <dt id="multiple"> هل يمكنني تقديم نفس المطلب إلى عدة ‫هياكل‬، على سبيل المثال "إلى جميع البلديات"؟ <a href="#multiple">#</a> </dt>

    <dd> 

‫<p> لا يوجد حاليا أي نظام آلي لإرسال مطلب إلى عدة هياكل. لذلك نقترح المراحل التالية: </p>‬

‫      <ul>‬
‫        <li> أن ترسل أولا نسخة أولية "اختبار" من مطلبك إلى بعض الهياكل. </li>‬
‫        <li> إعتماد اجوبتهم لتحسين صياغة مطلبك، بحيث تحصل على معلومات أفضل عند إرسال مطلبك إلى الهياكل الأخرى. </li>‬
‫ <li> ارسال المطلب محيناً إلى بقية الهياكل. </li>‬
‫      </ul>‬

    </dd>

    <dt id="offsite"> طلبت معلومات‫ من‬ خارج الموقع، كيف يمكنني نقلها إلى ‫<%= site_name %>‬؟ <a href="#offsite">#</a> </dt>

    <dd> يقوم أرشيف <%= site_name %> بتخزين مطالب النفاذ إلى ‫المعلومة من خلال المنصة فقط‬. لهذا فإننا ننصحك بإرسال مطالبك مباشرة عن طريق <%= site_name %>.
    </dd>

    <% if AlaveteliConfiguration::enable_annotations %>
      <dt id="moderation"> كيف ‫تقومون بالإشراف على‬ التعليقات ؟ <a href="#moderation">#</a> </dt>

      <dd>
        <p> توجد ‫التعليقات‬ في <%= site_name %> لمساعدة المستعملين.
        </p>
        <p> نحن نحتفظ بالحق في حذف أي تعليقات أخرى‫ خارج السياق‬. </p>
      </dd>
    <% end %>

  </dl>

  <p><strong>Next</strong>,  تعرف على المزيد حول <a href="<%= help_privacy_path %>"> خصوصيتك </a> --&gt;

    <div id="hash_link_padding"></div>
</div>